.page{
        text-align: center;
        display: block;
}

body {
        background: -moz-linear-gradient(45deg, #02e1ba 0%, #26c9f2 29%, #d911f2 66%, #ffa079 100%);
        background: -webkit-linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
        background: linear-gradient(45deg, #02e1ba 0%,#26c9f2 29%,#d911f2 66%,#ffa079 100%);
        background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative; 
}



.bouton {
        background: -moz-linear-gradient(45deg, #ffa079 0%, #d911f2 29%, #26c9f2 66%, #02e1ba 100%);
        background: -webkit-linear-gradient(45deg, #ffa079 0%,#d911f2 29%,#26c9f2 66%,#02e1ba 100%);
        background: linear-gradient(45deg, #ffa079 0%,#d911f2 29%,#26c9f2 66%,#02e1ba 100%);
        color: #FFFFFF;
        border: "3px";
        margin: 0.5rem;
        border-radius: 10px;
        font-size: 1.5rem;

}

.bouton::before, 
.bouton::after {
        background: rgba(255, 255, 255, 0.07);
}

.bouton.st3 {
        fill: #FFFFFF;
}

.bouton.st15 {
        fill: #FFFFFF;
        enable-background: new;
}
